<IfModule mod_rewrite.c>
	
	RewriteEngine On
	
	Redirect 301 /1177 https://www.1177.se/Halland/?ar=True
	Redirect 301 /jobb http://test-rh.regionhalland.se/varbi/
	Redirect 301 /region-halland-site-map.xml http://test-rh.regionhalland.se/app/plugins/region-halland-site-map-regionhalland/site-map/site-map.php
	
	RewriteBase /
	
	RewriteRule ^index\.php$ - [L]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	
	RewriteRule . /index.php [L]

</IfModule>