<IfModule mod_rewrite.c>
	RewriteEngine On
	Redirect 301 /1177 https://www.1177.se/Halland/?ar=True
	Redirect 301 /jobb /varbi/
	RewriteBase /
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.php [L]
</IfModule>